<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<form action="/auth/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
  <a href="/">Go Home</a>
</form>