<div class="page-header">
  <h1>Sportify
    <small>
      <br>Tu red social deportiva</small>
  </h1>
</div>
<button type="button" class="btn btn-default btn-lg">
  <a href="/auth/login">Login</a>
</button>
<button type="button" class="btn btn-default btn-lg">
  <a href="/auth/signup">Signup</a>
</button>