<h1>
  <%= title %>
</h1>
<p>Bienvenido a 
  <%= title %>
</p>
<% if(!user) { %>
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Signup</a>
  </ul>
  <% } else { %>
    <h2>Hola
      <%= user.username %>
    </h2>

    </br>
    <a href="/auth/logout">Logout</a>
    <a href="/home">Home</a>
    <% } %>