<nav class="navbar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="home-nav">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/home/new">Nuevo Proyecto</a>
                </li>
                <li class="nav-logo">
                    <a href="/home" class="nav-logo-link">
                        <img class="nav-logo-image" src="https://s3.amazonaws.com/media-p.slid.es/uploads/820044/images/4613607/Untitled-4.png" alt="Sportify Logo">
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </li>
                <li>
                    <a href="/perfil">Mi perfil</a>
                </li>
                <li>
                    <a href="/auth/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="margin-top: 50px;" class="container">

    <form action="/home/<%= event._id%>/coment" method="post">
        <div class="form-group">
            <label for="title">
                <%= event.title %>
            </label>
        </div>
        <div class="form-group">
            <label for="description">Comentario</label>
            <textarea id="description" name="description" class="form-control" required></textarea>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-success">¡Comentar!</button>
        </div>
    </form>
</div>