<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- External libs -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Project libs -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/back-ajax.js"></script>
  </head>
  <body>
      <%- body %>
  </body>
</html>